<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

***<H1> Data Science Tools and Ecosystem***

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

       1, Python 
       2, SQL 
       3, R

Some of the commonly used libraries used by Data Scientists include:

       1, NumPy 
       2, PyTorch 
       3, Pandas 
       4, TensorFlow 
       5, caffe2

|Data Science Tools| 
|------------------|
|RStudio           |
|Apache Spark      |
|Apache hadoop     |

|***<H3>Below are a few examples of evaluating arithmetic expressions in Python***| 
|---------------------------------------------------------------------------------|

This a simple arithmetic expression to mutiply then add integers.

In [1]:
num1 = 3 
num2 = 4 
num3 = 5 


total = (num1 * num2) + num3  
print(total)

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
200 / 60

3.3333333333333335

<H4>OBJECTIVES:

* List popular languages for Data Science

* List the commonly used libraries used by Data Scientists include

* the simple arithmetic expression to mutiply then add integers

* Data science Tools

***<H2>AUTHOR***

OGBUJI UCHENNA N.